@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  // colors
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #f5f5f5;
  --color-error: red;
  // properties
  --border-radius: 3px;
}

body {
  font-family: "Rubik", sans-serif;
}
